@import url("https://fonts.googleapis.com/css2?family=Miniver&family=Sansita+Swashed:wght@300..900&family=Sekuya&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Sansita Swashed", system-ui;
}
:root {
  --white-color: #fff;
  --dark-color: #252525;
  --primary-color: #3b141c;
  --secondary-color: #f3961c;
  --light-pink-color: #faf4f5;
  --medium-gray-color: #ccc;

  --font-size-s: 0.9rem;
  --font-size-n: 1rem;
  --font-size-m: 1.12rem;
  --font-size-l: 1.5rem;
  --font-size-xl: 2rem;
  --font-size-xxl: 2.3rem;

  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --border-radius-s: 8px;
  --border-radius-m: 30px;
  --border-radius-circle: 50%;

  --site-max-width: 1300px;
}
header {
  background: var(--primary-color);
  position: fixed;
  width: 100%;
  z-index: 5;
}
header .navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: space-between;
}
ul {
  list-style: none;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
img {
  width: 100%;
}
.section-content {
  margin: 0 auto;
  padding: 0 20px;
  max-width: var(--site-max-width);
}
a {
  text-decoration: none;
}
.navbar .nav-menu {
  display: flex;
  gap: 10px;
}
.navbar .nav-logo .logo-text {
  color: var(--white-color);
  font-size: var(--white-color);
  font-weight: var(--font-weight-semibold);
}

.navbar .nav-menu .nav-link {
  padding: 10px 18px;
  font-size: var(--font-size-m);
  color: var(--white-color);
  border-radius: var(--border-radius-m);
  transition: 0.3s ease;
}
/* .navbar :where(#menu-close-menu, #menu-open-menu) {
    display: none;
} */
.navbar .nav-menu .nav-link:hover {
  color: var(--primary-color);
  background: var(--secondary-color);
}
.navbar :where(#menu-close-menu, #menu-open-menu){
    display: none;
}
.hero-section {
  min-height: 100vh;
  background: var(--primary-color);
}
.hero-section .section-content {
  display: flex;
  align-items: center;
  min-height: 100vh;
  color: var(--white-color);
  justify-content: space-between;
}
.hero-section .hero-details .title {
  font-size: var(--font-size-xxl);
  color: var(--secondary-color);
  font-family: "Sansita Swashed", system-ui;
}
.hero-section .hero-details .subtitle {
  font-size: var(--font-size-xl);
  margin: 8px;
  max-width: 70%;
  font-weight: var(--font-weight-semibold);
}
.hero-section .hero-details .descripition {
  max-width: 70%;
  margin: 24px 0 40px;
  font-size: var(--font-size-m);
}
.hero-section .hero-details .buttons {
  display: flex;
  gap: 23px;
}
.hero-section .hero-details .button:hover,
.hero-section .hero-details .contact-us {
  color: var(--white-color);
  border-color: var(--white-color);
  background: transparent;
}

.hero-section .hero-details .button {
  padding: 10px 26px;
  border: 2px solid transparent;
  color: var(--primary-color);
  border-radius: var(--border-radius-m);
  background: var(--secondary-color);
  font-weight: var(--font-weight-medium);
  transition: 0.3s ease;
}
/* .hero-section .hero-details .contact-us:hover{
    color: var(--primary-color);
    border-color: var(--secondary-color);
    background: var(--secondary-color);

} */

.hero-section .hero-image-wrapper {
  max-width: 500px;
  margin-right: 30px;
}
@media screen and (max-width: 900px) {
  :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
  }
.navbar :where(#menu-close-menu, #menu-open-menu) {
    display: block;
    font-size: var(--font-size-l);
}
.navbar #menu-close-menu{
    position: absolute;
    right: 30px;
    top: 30px;
}
.navbar #menu-open-menu{
color: var(--white-color);
}

  .navbar .nav-menu {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    background: var(--white-color);
  }
  .navbar .nav-menu .nav-link {
    color: var(--dark-color);
    display: block;
    margin: 17px;
    font-size: var(--font-size-l);
  }
}
